<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be76a">  <td>20/03/31 17:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_MJL.WIN_TC_1()[pri:1, instance:ui.smoke.testcases.WIN.TC1_MJL@64485a47]">WIN_TC_1</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="b59d86">  <td>20/03/31 17:49:06</td>   <td>-287972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC13_MyDashboard.WIN_TC_13()[pri:1, instance:ui.smoke.testcases.WIN.TC13_MyDashboard@782663d3]">WIN_TC_13</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>20/03/31 17:56:23</td>   <td>149284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_MJl_PcView.WIN_TC_2()[pri:1, instance:ui.smoke.testcases.WIN.TC2_MJl_PcView@25bbf683]">WIN_TC_2</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>20/03/31 17:58:35</td>   <td>280406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC3_JobPrint.WIN_TC_3()[pri:1, instance:ui.smoke.testcases.WIN.TC3_JobPrint@6ec8211c]">WIN_TC_3</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>20/03/31 18:01:04</td>   <td>429467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Global.WIN_TC_4()[pri:1, instance:ui.smoke.testcases.WIN.TC4_Global@7276c8cd]">WIN_TC_4</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>20/03/31 18:03:26</td>   <td>571551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_GlobalPrint.WIN_TC_5()[pri:0, instance:ui.smoke.testcases.WIN.TC5_GlobalPrint@544a2ea6]">WIN_TC_5</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>20/03/31 18:05:26</td>   <td>691823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_DiagnosticReport.WIN_TC_6()[pri:0, instance:ui.smoke.testcases.WIN.TC6_DiagnosticReport@2e3fc542]">WIN_TC_6</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="949d71">  <td>20/03/31 17:45:15</td>   <td>-519458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_Attachment.WIN_TC_9()[pri:1, instance:ui.smoke.testcases.WIN.TC11_Attachment@4fb64261]">WIN_TC_9</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="a3fe6e">  <td>20/03/31 17:43:10</td>   <td>-644273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_User_Profile.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.Edit_User_Profile@12c8a2c0]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>20/03/31 17:44:57</td>   <td>-537528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_My_Reference_Job_Library.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.TC10_My_Reference_Job_Library@18bf3d14]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/03/31 17:46:00</td>   <td>-474567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC12_Administration.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.TC12_Administration@42607a4f]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>20/03/31 17:52:27</td>   <td>-86947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC14_Manage_My_Organizations.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.TC14_Manage_My_Organizations@1990a65e]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>20/03/31 18:07:26</td>   <td>812084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MyJobs.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.TC7_MyJobs@150c158]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="b0efb8">  <td>20/03/31 18:11:27</td>   <td>1052566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC9_My_Market_Library.testSearch()[pri:0, instance:ui.smoke.testcases.WIN.TC9_My_Market_Library@401e7803]">testSearch</td> 
  <td>main@611563982</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>20/03/31 18:09:26</td>   <td>932357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_MyEmployees.testSearchJob()[pri:0, instance:ui.smoke.testcases.WIN.TC8_MyEmployees@4524411f]">testSearchJob</td> 
  <td>main@611563982</td>   <td></td> </tr>
</table>
