<h2>Methods that were not run</h2><table>
<tr><td>ui.smoke.testcases.WIN.TC_16_WIN_Smoke.testLogin</td></tr>
<tr><td>ui.smoke.testcases.WIN.Access_Manage_Evaluation_Approval.testSearch</td></tr>
<tr><td>ui.smoke.testcases.WIN.Tool_Links.testSearch</td></tr>
<tr><td>ui.smoke.testcases.WIN.TC_8_Admin.WIN_TC_8</td></tr>
<tr><td>ui.smoke.testcases.WIN.Help_Link.testSearch</td></tr>
<tr><td>ui.smoke.testcases.WIN.TC_10_ManageJobArchitecture.WIN_TC_10</td></tr>
</table>